.controls-container {
     display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    justify-content: center;
        width: 90%;
    max-width: 400px;
}

md-input-container {
    width: 100%
}